.Dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-family: "Rubik", sans-serif;
}

.Dash-main {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 80%;
}

/* Purple back box */
.Dash-sidebar { 
  background-color: #9575cd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1),
      inset 0 0 25px #7e57c2;
  z-index: 2;
}

.Dash-title {
    font-size: 8rem;
    margin: 2rem;
    color: white;
    font-weight: 300;
    letter-spacing: 0.6rem;
}

.Dash-title span {
    font-weight: 700;
    letter-spacing: 0;
}

.Dash-sidebar img {
   width: 35%;
}


