body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.Dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-family: "Rubik", sans-serif;
}

.Dash-main {
  position:absolute;
  display: flex;
  justify-content: center;
  width: 70%;
  height: 70%;
}

/* Purple back box */
/* .Dash-sidebar { 
  background-color: #9575cd;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1),
      inset 0 0 25px #7e57c2;
  z-index: 2;
} */
.Dash-sidebar {
  display: grid;
  background-color: #9575cd;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

}

.Dash-title {
    display: flex;
    align-items: center;
    font-size: 8rem;
    margin: 2rem;
    color: white;
    font-weight: 300;
    letter-spacing: 0.6rem;
}

.Dash-title span {
    font-weight: 700;
    letter-spacing: 0;
}

.Dash-sidebar img {
   width: 35%;
}

.brand-logo span{
    font-weight: 700;
    letter-spacing: 0;
}

/* @media screen and (min-width: 967px) and (max-width: 1127px) {
    .Dashboard {
    flex-basis: calc(100% / 3);
    }
    .Dashboard-main {
      flex-basis: calc(100% / 3);
    }
    .Dash-sidebar {
      flex-basis: calc(100% / 3);
    }
    .Dash-title {
      flex-basis: calc(100% / 3);
    }
    
}

@media screen and (max-width: 967px) {
    .Dash-title {
    flex-basis: calc(50% / 2);
  }
} */

/* @media (max-width: 790px){
  .Dash-title{
    width:100%;
    float:inherit;
  }
  
  } */





